<table>
  <tr>
    <th>Route</th>
    <th>Distance (mi)</th>
  </tr>
  <% @results.each do |r| %>
    <tr>
      <td><%= r[:route] %></td>
      <td><%= r[:dist] %></td>
    </tr>
  <% end %>
</table>
<h1>Kawnekshun Query</h1>
<dl>
  <dt>Single Route</dt><dd>YTO-SFO-HNL</dd>
  <dt>Single Route with Connections (Separate with /)</dt><dd>YTO-LAX/SAN/SFO/SEA-HNL</dd>
  <dt>Multiple Routes (Separate with _)</dt><dd>YTO-LAX/SAN/SFO/SEA-HNL_YYZ-YUL/YOW-YHZ</dd>
</dl>
<%= form_tag('ranking', method: 'get') do %>
<%= label_tag(:routes, 'Query') %><br/>
<%= text_area_tag(:routes) %><br/>
<%= submit_tag('Submit') %>
<% end %>