<% if @results.present? %>
  <h1>Results</h1>
  <table>
    <tr>
      <th>Route</th>
      <th>Distance (mi)</th>
    </tr>
    <% @results.each do |r| %>
      <tr>
        <td><%= r[:route] %></td>
        <td><%= r[:dist] %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<h1>Query</h1>
<dl>
  <dt>Single Route</dt><dd>YTO-SFO-HNL</dd>
  <dt>Single Route with Connections (Separate with /)</dt><dd>YTO-LAX/SAN/SFO/SEA-HNL</dd>
  <dt>Multiple Routes (Separate with _)</dt><dd>YTO-LAX/SAN/SFO/SEA-HNL_YYZ-YUL/YOW-YHZ</dd>
  <dt>KVS Routing Rules</dt><dd>Paste contents</dd>
</dl>
<%= form_tag(ranking_ask_path) do %>
<%= text_area_tag :routes, @routes, cols: '64', rows: '16' %><br/>
<%= submit_tag('Submit') %>
<% end %>